<div class="content" role="main">
  <div class="container">
    <div class="messaging">
      <div class="inbox_msg">
        <div class="mesgs">
          <div class="msg_history" #msgHistory>
            <li class="message" *ngFor="let msg of messageList; let last = last;">
              <div *ngIf="msg.senderId === roomInfo.senderId then outgoing_msg; else incoming_msg;"></div>
              <ng-template #incoming_msg>
                <div class="incoming_msg">
                  <div class="incoming_msg_img">
                    <img src="https://i.imgur.com/k2PZLZa.png" alt="User avatar" />
                  </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{ msg?.message }} {{ last ? scrollToBottom() : ''}}</p>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template #outgoing_msg>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{ msg?.message }} {{ last ? scrollToBottom() : ''}}</p>
                  </div>
                </div>
              </ng-template>
            </li>
          </div>
          <div class="type_msg">
            <form class="input_msg_write" (ngSubmit)="sendMessage();$event.stopPropagation();">
              <input type="text" class="write_msg" placeholder="Type a message" name="newMessage" #newMsg
                [(ngModel)]="newMessage" /> {{newMsg.focus()}}
              <button class="msg_send_btn" type="submit">
                <mat-icon>send</mat-icon>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>